

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="head :: head"></head-->

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="container">
                <div>
                    <a class="backButton" th:href="@{'/person/personen'}">
                        <i style="margin: inherit"  class="fa fa-backward"></i>
                        <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                    </a>
                </div>

                  <h2> Person einen Kurs hinzufügen </h2>


                <div class="container-fluid">


                    <!--/*@thymesVar id="person" type="com.example.kursverwaltung.domain.Person"*/-->

                    <!--/*@thymesVar id="kurs" type="com.example.kursverwaltung.domain.Kurs"*/-->
                    <form action="#"

                          th:action="@{'/person/addKursToPerson/'+${person.personId}}"

                          enctype="multipart/form-data">
                        <!--div th:with="person=${person}, kurse=${kurse}"-->
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Person mit Kursen</div>
                                <div class="panel-body" style="padding-left: 5px;">
                                    Vorname : <b th:text="${person.vorname}"></b>
                                    <br/>
                                    <br/>
                                    Nachname : <b th:text="${person.nachname}"></b>
                                    <br/>
                                    <br/>
                                    Email : <b th:text="${person.email}"></b>
                                    <br/>
                                    <br/>
                                    <b th:text="${person.vorname}"></b>&nbsp<b th:text="${person.nachname}"></b> interessiert sich für diese Kurse :
                                    <span th:each="kurs : ${person.inKursinteressieren}">
                                    <br/>&nbsp;
                                    <b th:text="${kurs.kursname}"></b>
                                    </span>
                                    <br/>
                                    <br/>
                                    <b th:text="${person.vorname}"></b>&nbsp<b th:text="${person.nachname}"></b> nimmt an diesen Kursen teil :
                                    <span th:each="kurs : ${person.inKursteilnehmen}">
                                    <br/>&nbsp;&nbsp;
                                    <b th:text="${kurs.kursname}"></b>
                                    </span>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                als
                                <select class="form-control" name="choix">
                                    <!--/*@thymesVar id="choix" type="com.example.kursverwaltung.controller.PersonController"*/-->
                                    <option th:each="ch : ${choix}"
                                            th:value="${ch}"
                                            th:text="${ch}"></option>

                                </select>
                                <br/>
                                <br/>
<!--                                <a th:href="@{'/person/personen'}" class="btn btn-primary">Abbrechen</a>-->
<!--                                <button onclick="history.back()" class="btn btn-primary">Abbrechen</button>-->

                            </div>
                            <div class="col-md-6">
                                den Kurs
                                <select class="form-control" name="kursId">
                                    <!--/*@thymesVar id="kurse" type="com.example.kursverwaltung.service.PersonService"*/-->
                                    <option th:each="kurs : ${kurse}"
                                            th:value="${kurs.kursId}"
                                            th:text="${kurs.kursname}"></option>
                                </select>
                                <br/>
                                <br/>
<!--                                <button type="submit" class="btn btn-primary">-->
<!--                                    zur Person hinzufuegen-->
<!--                                </button>-->

                            </div>
                            <div style="padding-left: 35%">
                                <button type="submit" class="linkButton">
                                    zur Person hinzufuegen
                                </button>

                                <a class="linkButton" th:href="@{'/person/personen'}">Abbrechen</a>
                                <!--button onclick="history.back()" class="btn btn-primary">Abbrechen</button-->
                            </div>
                        </div>
                        <br/>
                        <!--                        <button type="submit" class="btn btn-primary">-->
                        <!--                            Add Course-->
                        <!--                        </button>-->
                        <!--/div-->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- hier endet indiviueller bereich -->


<!--/div>
</div>
</div-->

</body>
</html>