<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="~{head :: head}"></head-->
<head>
</head>

<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">


            <div class="container">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i style="margin: inherit"  class="fa fa-money"></i>Deine Umsatzt des Monats :</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            <h5>Hier finden Sie den Umsatzt für das Monat : <b th:text="${#temporals.monthName(#temporals.createNow())}"></b> </h5>
                            <h4><b th:text="${umsatztdesMonat} +' Euro'"> </b> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i style="margin: inherit"  class="fa fa-money"></i>Dein Einkommen des Monats :</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            <h5>Hier finden Sie den Einkommen für das Monat : <b th:text="${#temporals.monthName(#temporals.createNow())}"></b> </h5>
                            <h4><b th:text="${EinkommendesMonat}+' Euro'"> </b> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i style="margin: inherit"  class="fa fa-money"></i>Deine Umsatzt Steuer für dieses Jahr bis jetzt:</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            <h5>Hier finden Sie den Umsatzt Steuer für das Jahr : <b th:text="${#temporals.year(#temporals.createNow())}"></b> </h5>
                           <h4> <b th:text="${UmsatzsteuerdesJahr}+' Euro'"> </b></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i style="margin: inherit"  class="fa fa-money"></i>Deine Umsatzt Steuer für dieses Jahr bis jetzt:</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            <h5>Hier finden Sie den Einkommen für das Jahr : <b th:text="${#temporals.year(#temporals.createNow())}"></b> </h5>
                            <h4><b th:text="${EinkommendesJahr}+' Euro'"> </b></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i style="margin: inherit"  class="fa fa-book"></i>die beliebege Kurse: :</div>
                        <div class="panel-body" style="padding-left: 5px;">
                            <h5>Hier sind die Kurse die immer Voll gestartet</h5>
                            <span th:each="kursname : ${kursnamen}">
                                    <br/>&nbsp;
                                    <b th:text="${kursname}"></b>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

</body>

</html>

