<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div>
    <h2>Spring Boot Kursverwaltung</h2>
    <br/>

    <div align="center">
        <h3><a th:href="@{'/kurs'}">Kurs</a></h3>
    </div>

    <div align="center">
        <h3><a th:href="@{'/person'}">person</a></h3>
    </div>
</div>
</body>


</html>