<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:insert="head :: head"></head>

<body>


<!--Main layout-->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3">

            <noscript>Bitte schalten Sie Javascript in Ihrem Browser ein, um diese App vollumfänglich nutzen zu können
            </noscript>

            <!-- hier den individuellen Bereich einer Site einfügen -->


            <div layout:fragment="content">
                <section class="wrapper">
                    <div class="row">
                        <h2>Willkommen beim Kursmanager</h2>
                    </div>
                </section>
            </div>

            <!-- hier endet indiviueller bereich -->

        </div>
    </div>
</div>


</body>
</html>