<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{head :: head}"></head>

<body>


<!--Main layout-->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:fragment="navbar"
                 class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                             class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <!--            <li><a class="dropdown-item" href="#">New project...</a></li>-->
                        <!--            <li><a class="dropdown-item" href="#">Settings</a></li>-->
                        <!--            <li><a class="dropdown-item" href="#">Profile</a></li>-->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" th:href="@{'/public'}">Login</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" th:href="@{'/logout'}">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
        <div class="col py-3">

            <noscript>Bitte schalten Sie Javascript in Ihrem Browser ein, um diese App vollumfänglich nutzen zu können
            </noscript>

            <!-- hier den individuellen Bereich einer Site einfügen -->


            <!--    <ul class="navbar-nav">-->
            <!--        <li class="nav-item">-->
            <!--            <a class="nav-link" th:href="@{'/public'}">Login</a>-->
            <!--        </li>-->
            <!--    </ul>-->

        </div>

        <br><br>
        <div align="left">

            <img src="C:\Users\Akademie\IdeaProjects\Kursverwaltung\src\main\resources\assets\kurs.jpg" alt="teacher classes" width="612" height="344">
            <br><br>
            <p>Die besten Informatik-Kurse der Welt. Jetzt ausprobieren!</p>
            <br><br>
            <p style="width:612px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet.</p>
            <br><br>
            <section class="wrapper"> <!-- th:if="${kurs1.status1 == Active and ${listKurse1.isEmpty() }"-->
                <div class="row">
                    <h2>Unser aktuelles Kursangebot</h2>
                    <!--                    <div align="left">-->
                    <!--                        <h3><a th:href="@{'/k1/kurs1/newkurs1'}" class="btn btn-light my-2 my-sm-0">Kurs1-->
                    <!--                            hinzufügen</a></h3>-->
                    <!--                    </div>-->
                    <!--                        <form class="form-inline">-->

                    <!--                    <div class="input-group">-->
                    <!--                        <div class="input-group-prepend">-->
                    <!--                        </div>-->
                    <!--                        <input type="text" class="form-control" id="inputSucheKurse1" onkeyup="suchFunctionKurs()"-->
                    <!--                               placeholder="Suchbegriff hier eingeben ..." aria-label="Username"-->
                    <!--                               aria-describedby="basic-addon1">-->
                    <!--                    </div>-->

                    <form th:action="@{'/k1/kurs1'}" method="get">
                        <input id="txtsearch" type="text" name="keyword">
                        <button type="submit">Suchen</button>
                    </form>

                    <!--                        </form>-->
                </div>
<br><br>
                <tr>
                    <div class="col-sm-5" align="center">
                        <div class="panel-body" align="center">

                            <table class="table">

                                <thead class="thead-dark">
                                <tr>
                                    <th>Kurs1 ID</th>
                                    <th>Kursname</th>
                                    <th>Ges Anzahl Tage</th>
                                    <th>Tage je Woche</th>
                                    <th>Start Datum</th>
                                    <th>End Datum</th>
                                    <th>Freie Plaetze</th>
                                    <th>Gebuehr inkl. Mwst</th>
                                    <th>Kurs Beschreibung</th>

                                </tr>
                                </thead>
                                <tr th:if="${kurse.isEmpty()}">
                                    <td colspan="4"> keine Kurse vorhanden</td>
                                </tr>

                                <tr th:each="kurs1 : ${kurse}" th:if="${kurs1.kurs.status.}">
                                    <td th:text="${kurs1.kursId}">KursID</td>
                                    <td th:text="${kurs1.kursname}">Kursname1</td>
                                    <td th:text="${kurs1.anzahl_tage}">AnzahlTage</td>
                                    <td th:text="${kurs1.zyklus}">Zyklus</td>
                                    <td th:text="${kurs1.start_datum}">StartDatum</td>
                                    <td th:text="${kurs1.ende_datum}">Endedatum</td>
                                    <td th:text="${kurs1.freie_plaetze}">FreiPlaezeKurs ID</td>
                                    <td th:text="${kurs1.gebuehr_brutto}">gebuehrBrutto</td>
                                    <td th:text="${kurs1.kurs_beschreibung}">kursBeschreibung</td>


                                </tr>

                            </table>


                        </div>
                    </div>
                </tr>

        </section>

    </div>
</div>

<!-- hier endet indiviueller bereich -->


</div>
</div>
</div>

</body>


</html>