<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<html lang="en">

<head th:insert="head :: head">  </head>

<body>

<nav th:insert="navbar :: navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">  </nav>

<div layout:fragment="content">
  <section class="wrapper">
    <div class="row">
  <h2>WELCOME TO HIER</h2>
    </div></section>
</div>
</body>
</html>