<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: head"></head>

<body>


<!--Main layout-->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3">

            <noscript>Bitte schalten Sie Javascript in Ihrem Browser ein, um diese App vollumfänglich nutzen zu können
            </noscript>

            <!-- hier den individuellen Bereich einer Site einfügen -->


            <!--    <ul class="navbar-nav">-->
            <!--        <li class="nav-item">-->
            <!--            <a class="nav-link" th:href="@{'/public'}">Login</a>-->
            <!--        </li>-->
            <!--    </ul>-->

        </div>


        <div align="center">
            <p style="width:250px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>
    </div>

    <!-- hier endet indiviueller bereich -->


        </div>
    </div>
</div>

</body>


</html>