<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="~{head :: head}"></head-->


<body>


<!--Main layout-->


<!--div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3"-->


            <!-- hier den individuellen Bereich einer Site einfügen -->



<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
    <div class="col-sm-5" align="center">
        <div class="panel-body" align="center">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Kurs ID</th>
                    <th>Kurs Name</th>
                    <th>Status</th>
                    <th>Anzahl Tage</th>
                    <th>Tage / Woche </th>
                    <th>Start Datum</th>
                    <th>End Datum</th>
                    <th>Min Teilnehmer</th>
                    <th>Max Teilnehmer</th>
                    <th>Freie Plaetze</th>
                    <th>Aktuelle Teilnehmer</th>
                    <th>Gebuehr Brutto</th>
                    <th>Gebuehr Netto</th>
                    <th>Mwst Euro</th>
                    <th>Mwst Prozent</th>
                    <th>Kurs Beschreibung</th>

                </tr>
                </thead>
                   <!--tr th:if="${listKurse1.isEmpty()}">
                       <td colspan="4"> keine Kurse vorhanden</td>
                   </tr-->
                <!--/*@thymesVar id="kurs" type="com.example.kursverwaltung.domain.Kurs"*/-->

                <!--/*@thymesVar id="kurse" type="com.example.kursverwaltung.controller.KursController"*/-->
                <tr th:each="kurs : ${kurse}">

                    <!--/*@thymesVar id="kursId" type="com.example.kursverwaltung.domain.Kurs"*/-->
                    <td th:text="${kurs.kursId}"></td>
                    <td th:text="${kurs.kursname}"></td>
                    <td th:text="${kurs.status}">Status</td>
                    <td th:text="${kurs.anzahl_tage}">Anzahl Tage</td>
                    <td th:text="${kurs.zyklus}">Zyklus</td>

                    <td th:text="${kurs.start_datum}">Start Datum</td>

                    <td th:text="${kurs.ende_datum}">End Datum</td>
                    <td th:text="${kurs.min_tn_anzahl}">Min Teilnehmer</td>
                    <td th:text="${kurs.max_tn_anzahl}">Max Teilnehmer</td>
                    <td th:text="${kurs.freie_plaetze}">Freie Plaetze Kurs ID</td>
                    <td th:text="${kurs.aktuelle_tn_anzahl}">Aktuelle Teilnehmer</td>
                    <td th:text="${kurs.gebuehr_brutto}">Gebuehr Brutto</td>
                    <td th:text="${kurs.gebuehr_netto}">Gebuehr Netto</td>
                    <td th:text="${kurs.mwst_euro}">Mwst Euro</td>
                    <td th:text="${kurs.mwst_prozent}">Mwst Prozent</td>

                    <td th:text="${kurs.kurs_beschreibung}">Kurs Beschreibung</td>
                    <td>

                        <a th:href="@{'/k1/kurs1/editkurs/' + ${kurs.kursId}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/k1/kurs1/get/'+${kurs.kursId}}">Add Person</a>
                    </td>

                    <td>
                        <a th:href="@{'/k1/kurs1/deletekurs/' + ${kurs.kursId}}">Delete</a>
                    </td>
                </tr>


            </table>


        </div>
    </div>
        </div>
    </section>
</div>


            <!-- hier endet indiviueller bereich -->


        <!--/div>
    </div>
</div-->

</body>
</html>

