<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{head :: head}"></div>

<body>

<div th:insert="~{navbar :: navbar}" class="navbar sticky-top navbar-expand-lg navbar-light bg-light"></div>


<div align="left">

    <form class="form-inline">
        <h3><a th:href="@{'/kurs/newkurs'}" class="btn btn-light my-2 my-sm-0">Kurs hinzufügen</a></h3>

        <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" id="inputSucheKurse" onkeyup="suchFunctionPerson()"
                   placeholder="Suchbegriff hier eingeben ..." aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
    </form>
</div>
<tr>
    <div class="col-sm-5" align="center">
        <div class="panel-body" align="center">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Kurs ID</th>
                    <th>Kursname</th>
                    <th>Status</th>
                    <th>AnzahlTage</th>
                    <th>Zyklus</th>
                    <th>StartDatum</th>
                    <th>Endedatum</th>
                    <th>MinTnAnzahl</th>
                    <th>MaxTnAnzahl</th>
                    <th>FreiPlaeze</th>
                    <th>AktuelleTnAnzahl</th>
                    <th>gebuehrBrutto</th>
                    <th>gebuehrNetto</th>
                    <th>mwstEuro</th>
                    <th>mwstProzent</th>
                    <th>kursBeschreibung</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listKurse.empty}">
                    <td colspan="4"> Keine Kurse vorhanden</td>
                </tr>

                <tr th:each="kurs : ${listKurse}">
                    <td th:text="${kurs.kursId}">KursID</td>
                    <td th:text="${kurs.kursname}">Kursname</td>
                    <td th:text="${kurs.status}">Status</td>
                    <td th:text="${kurs.anzahl_tage}">AnzahlTage</td>
                    <td th:text="${kurs.zyklus}">Zyklus</td>
                    <td th:text="${kurs.start_datum}">StartDatum</td>
                    <td th:text="${kurs.ende_datum}">Endedatum</td>
                    <td th:text="${kurs.min_tn_anzahl}">MinTnAnzahl</td>
                    <td th:text="${kurs.max_tn_anzahl}">MaxTnAnzahl</td>
                    <td th:text="${kurs.freie_plaetze}">FreiPlaezeKurs ID</td>
                    <td th:text="${kurs.aktuelle_tn_anzahl}">AktuelleTnAnzahl</td>
                    <td th:text="${kurs.gebuehr_brutto}">gebuehrBrutto</td>
                    <td th:text="${kurs.gebuehr_netto}">gebuehrNetto</td>
                    <td th:text="${kurs.mwst_euro}">mwstEuro</td>
                    <td th:text="${kurs.mwst_prozent}">mwstProzent</td>
                    <td th:text="${kurs.kurs_beschreibung}">kursBeschreibung</td>
                    <td>
                        <a th:href="@{'/editkurs/' + ${kurs.kursId}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/get/'+${kurs.kursId}}">Add kurs</a>
                    </td>
                    <td>
                        <a th:href="@{'/deletekurs/' + ${kurs.kursId}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</tr>
</tbody>
</table>

</body>
</html>
