<div th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.thymeleaf.org">
  <a class="navbar-brand" href="/">
 <!--    <img src="/assets/brand/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">  -->
    Kursverwaltung
  </a>

  <div class="navbar-expand-lg" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/person/newperson'}">Person verwalten </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/person/personen'}">Personen-Liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/kurs/newkurs'}">Kurs verwalten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/kurs'}">Kurs-Liste</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/user/users'}">User-Liste</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/'}">Login</a>
      </li>


        <li class="nav-item">
            <a class="nav-link" th:href="@{'/k1/kurs1/newkurs'}">Kurs1 verwalten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/k1/kurs1'}">Kurs1-Liste</a>
        </li>
    </ul>

  </div>

</div>
