<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{head :: head}"></div>

<body>


<!--Main layout-->


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3">

            <noscript>Bitte schalten Sie Javascript in Ihrem Browser ein, um diese App vollumfänglich nutzen zu können
            </noscript>

            <!-- hier den individuellen Bereich einer Site einfügen -->


            <div align="center">
                <div class="col-sm-4">
                    <h1>Kurs1 anlegen/editieren</h1>
                    <br/>
                    <!--/*@thymesVar id="kurs1" type="com.example.kursverwaltung.domain.Kurs"*/-->
                    <form action="#" th:action="@{/k1/kurs1/savekurs}" th:object="${kurs1}" method="post">
                        <div id="hbox">
                            <div class="vbox">

                                <div align="center">

                                    <tr>
                                        <label class="form-label">Kursname</label>
                                        <td>
                                            <input type="text" th:field="*{kursname}" class="form-control"
                                                   placeholder="kursname" required/>
                                            <input type="hidden" th:field="*{kursId}"/>

                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">anzahlTage1</label>
                                        <td>

                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                   th:field="*{anzahl_tage}" class="form-control"
                                                   placeholder="anzahlTage" required/>

                                        </td>
                                    </tr>

                                    <tr>
                                        <label class="form-label">startDatum</label>
                                        <td>
                                            <input type="date" th:field="*{start_datum}"
                                                   class="form-control" id="start_datum" name="start_datum"
                                                   placeholder="startDatum" required
                                                   th:value="${#dates.format(kurs1.start_datum,'dd.MM.yyyy')}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">minTnZahl</label>
                                        <td>
                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                   th:field="*{min_tn_anzahl}" class="form-control"
                                                   placeholder="minTnZahl" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">aktuelleTnZahll</label>
                                        <td>
                                            <input type="number" th:field="*{aktuelle_tn_anzahl}" class="form-control"
                                                   placeholder="aktuelleTnZahl" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">gebuehrBrutto</label>
                                        <td>
                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                   th:field="*{gebuehr_brutto}" class="form-control"
                                                   placeholder="gebuehrBrutto" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">mwstProzent</label>
                                        <td>
                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                   th:field="*{mwst_prozent}" class="form-control"
                                                   placeholder="mwstProzent" required/>
                                        </td>
                                    </tr>
                                </div>

                            </div>
                            <div class="vbox">
                                <div align="center">
                                    <tr>
                                        <label class="form-label">Status</label>
                                        <td>
                                            <select th:field="*{status}" class="form-control" name="status" required>
                                                <option th:value="Active" th:text="Active">Active</option>
                                                <option th:value="Geplant" th:text="Geplant">Geplant</option>

                                            </select>

                                        </td>
                                    </tr>

                                    <tr>
                                        <label class="form-label">zyklus</label>
                                        <td>
                                            <input type="number" min="0" max="7" oninput="validity.valid||(value='');"
                                                   th:field="*{zyklus}" class="form-control"
                                                   placeholder="zyklus" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">endeDatum</label>
                                        <td>
                                            <input type="date" th:field="*{ende_datum}" class="form-control"
                                                   placeholder="endeDatum" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">maxTnZahl</label>
                                        <td>
                                            <input type="number" min="0" oninput="validity.valid||(value='');"
                                                   th:field="*{max_tn_anzahl}" class="form-control"
                                                   placeholder="maxTnZahl" required/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">freiePlaetze</label>
                                        <td>
                                            <input type="number" th:field="*{freie_plaetze}" class="form-control"
                                                   placeholder="freiePlaetze" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">gebuehrNetto</label>
                                        <td>
                                            <input type="number" th:field="*{gebuehr_netto}" class="form-control"
                                                   placeholder="gebuehrNetto" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <label class="form-label">mwstEuro</label>
                                        <td>
                                            <input type="number" th:field="*{mwst_euro}" class="form-control"
                                                   placeholder="mwstEuro" disabled/>
                                        </td>
                                    </tr>


                                </div>

                            </div>
                        </div>
                        <div class="vbox">
                            <div align="center">

                                <tr>
                                    <label class="form-label">kurs_beschreibung</label>
                                    <td>
                                        <input type="text" name="kurs_beschreibung" th:field="*{kurs_beschreibung}"
                                               class="form-control"
                                               placeholder="kursBeschreibung"/>
                                    </td>
                                </tr>

                            </div>

                            <div>
                                <br>
                                <tr>
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-info">Save</button>
                                    </td>
                                </tr>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>


</html>