<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- <div th:insert="head :: head">  </div>
-->

<head>
    <meta charset="UTF-8">
    <title>Create new Kurs</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/> -->
    <link th:href="@{/public/css/style.css}" rel="stylesheet" />
    <link th:href="@{/public/css/bootstrap452CosmoMin.css}" rel="stylesheet" />

  <!--  <link rel="stylesheet" type="text/css" href="recources/css/bootstrap452CosmoMin.css"/>
    <link href="recources/css/style.css" rel="stylesheet" type="text/css"> -->
    <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  -->
    <script src="/public/js/bootstrap452jsMin.js"></script>
</head>


<body>

<div th:insert="navbar :: navbar">  </div>




<div align="center">
    <h1>Create New Kurs</h1>
    <br/>
    <div class="col-sm-4">
        <!--/*@thymesVar id="kurs" type="com.example.kursverwaltung.domain.Kurs"*/-->
        <form action="#" th:action="@{/savekurs}" th:object="${kurs}" method="post">
            <div id="hbox">
                <div class="vbox">

                    <div align="center">
                        <tr>
                            <label class="form-label">Kursname</label>
                            <td>
                                <input type="text" th:field="*{kursname}" class="form-control"
                                       placeholder="kursname"/>
                                <input type="hidden" th:field="*{kursId}"/>

                            </td>
                        </tr>

                        <tr>
                            <label class="form-label">anzahlTage</label>
                            <td>
                                <input type="text" th:field="*{anzahlTage}" class="form-control"
                                       placeholder="anzahlTage"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">startDatum</label>
                            <td>
                                <input type="date" th:field="*{startDatum}" class="form-control"
                                       placeholder="startDatum"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">minTnZahl</label>
                            <td>
                                <input type="text" th:field="*{minTnZahl}" class="form-control"
                                       placeholder="minTnZahl"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">aktuelleTnZahll</label>
                            <td>
                                <input type="text" th:field="*{aktuelleTnZahl}" class="form-control"
                                       placeholder="aktuelleTnZahl"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">gebuehrBrutto</label>
                            <td>
                                <input type="text" th:field="*{gebuehrBrutto}" class="form-control"
                                       placeholder="gebuehrBrutto"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">mwstProzent</label>
                            <td>
                                <input type="text" th:field="*{mwstProzent}" class="form-control"
                                       placeholder="mwstProzent"/>
                            </td>
                        </tr>
                    </div>

                </div>

                <div class="vbox">
                    <div align="center">

                        <tr>
                            <label class="form-label">Status</label>
                            <td>
                                <select th:field="*{status}" class="form-control" name="status">
                                    <option th:value="1" th:text="Active">Active</option>
                                    <option th:value="2" th:text="Geplant">Geplant</option>
                                    <option th:value="3" th:text="abgesagt">Abgesagt</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">zyklus</label>
                            <td>
                                <input type="text" th:field="*{zyklus}" class="form-control"
                                       placeholder="zyklus"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">endeDatum</label>
                            <td>
                                <input type="date" th:field="*{endeDatum}" class="form-control"
                                       placeholder="endeDatum"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">maxTnZahl</label>
                            <td>
                                <input type="text" th:field="*{maxTnZahl}" class="form-control"
                                       placeholder="maxTnZahl"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">freiePlaetze</label>
                            <td>
                                <input type="text" th:field="*{freiePlaetze}" class="form-control"
                                       placeholder="freiePlaetze"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">gebuehrNetto</label>
                            <td>
                                <input type="text" th:field="*{gebuehrNetto}" class="form-control"
                                       placeholder="gebuehrNetto"/>
                            </td>
                        </tr>
                        <tr>
                            <label class="form-label">mwstEuro</label>
                            <td>
                                <input type="text" th:field="*{mwstEuro}" class="form-control"
                                       placeholder="mwstEuro"/>
                            </td>
                        </tr>

                    </div>

                </div>

                <div>
                    <br>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-info">Save</button>
                        </td>
                    </tr>

                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>