
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">




<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div style="margin-left: 20px ">
                <a class="backButton" th:href="@{'/person/personen'}">
                    <i style="margin: inherit"  class="fa fa-backward"></i>
                    <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                </a>
            </div>
            <div class="title-page">
                <i class="fa fa-user"></i><h2>Person anlegen/editieren</h2>
            </div>
            <div style="margin: 0px 60px 15px 20px;">
                    <!--/*@thymesVar id="person" type="com.example.kursverwaltung.domain.Person"*/-->
                    <form action="#" th:action="@{/person/saveperson}" th:object="${person}" method="post">

                        <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger">
                            <p th:text="${error}"></p>
                        </div>
                        <div alight="left">

                        <div >
                            <tr>
                                <label class="form-label" >Anrede</label>
                                <td>
                                    <select th:field="*{anrede}" class="form-control" name="anrede">
                                        <option th:value="1" th:text="Frau">Frau</option>
                                        <option th:value="2" th:text="Herr">Herr</option>
                                        <option th:value="3" th:text="Divers">Divers</option>
                                    </select>
                                    <input type="hidden" th:field="*{personId}" />
                                    <!--input type="text" th:field="*{anrede}" class="form-control" placeholder="anrede" /-->
                                </td>
                            </tr>
                        </div>

                        <div alight="left">

                            <tr>
                                <label class="form-label" >Titel</label>
                                <td><input type="text"  th:field="*{titel}" class="form-control" placeholder="title" /></td>
                            </tr>
                        </div>
                        <div alight="left">

                            <div class="form-group">
                                <label class="form-label">Vorname</label>
                                <tr>
                                    <td><input  class="form-control" minlength="2" type="text" th:field="*{vorname}" id="vorname" placeholder="Vorname      Pflichtfeld * " required="true"/></td>
                                </tr>
                        </div>
                        <div alight="left">

                            <tr>
                                <label class="form-label" >Nachname</label>
                                <td><input type="text" minlength="2" th:field="*{nachname}" class="form-control" placeholder="Nachname      Pflichtfeld * " required="true"/></td>
                            </tr>
                        </div>
                        <div alight="left">

                            <tr>
                                <label class="form-label" >Strasse</label>
                                <td><input type="text" minlength="2" th:field="*{strasse}" class="form-control" placeholder="strasse       Pflichtfeld * " required="true"/></td>
                            </tr>
                        </div>
                        <div alight="left">

                            <tr>
                                <label class="form-label" >PLZ</label>
                                <td><input type="text" minlength="5" maxlength="5" th:field="*{plz}" class="form-control" placeholder="plz       Pflichtfeld * " required="true"/></td>
                            </tr>
                        </div>
                        <div alight="left">

                            <tr>
                                <label class="form-label" >Ort</label>
                                <td><input type="text" minlength="2" th:field="*{ort}" class="form-control" placeholder="ort      Pflichtfeld * " required="true"/></td>
                            </tr>
                        </div>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Email</label>
                                <td><input type="email" th:field="*{email}" class="form-control" required="true" placeholder="email      Pflichtfeld * " /></td>
                            </tr>
                        </div>
                        <br>

                        <br>
                        <div style="padding-left: 40%">
                            <button type="submit" class="linkButton">Speichern</button>
                            <a class="linkButton" th:href="@{'/person/personen'}">Abbrechen</a>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- hier endet indiviueller bereich -->

        <!--/div>
    </div>
</div-->
        </div>
    </section>
</div>
</body>
</html>