<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:insert="head :: head">  </div>

<body>

<div th:insert="~{navbar :: navbar}">  </div>


<div align="center">
    <h1>Create New Person</h1>
    <br />
    <div class="col-sm-4">
        <!--/*@thymesVar id="person" type="com.example.kursverwaltung.domain.Person"*/-->
        <form action="#" th:action="@{/saveperson}" th:object="${person}" method="post">


            <div alight="left">
                <tr>
                    <label class="form-label" >Anrede</label>
                    <td>
                        <select th:field="*{anrede}" class="form-control" name="anrede">
                            <option th:value="1" th:text="Frau">Frau</option>
                            <option th:value="2" th:text="Herr">Herr</option>
                            <option th:value="3" th:text="Divers">Divers</option>
                        </select>
                        <input type="hidden" th:field="*{personId}" />
                        <!--input type="text" th:field="*{anrede}" class="form-control" placeholder="anrede" /-->
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label" >Titel</label>
                    <td><input type="text"  th:field="*{titel}" class="form-control" placeholder="title" /></td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Vorname</label>
                    <td><input type="text" minlength="1" th:field="*{vorname}" class="form-control" placeholder="vorname" /></td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Nachname</label>
                    <td><input type="text" minlength="1" th:field="*{nachname}" class="form-control" placeholder="Nachname" /></td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >strasse</label>
                    <td><input type="text" minlength="2" th:field="*{strasse}" class="form-control" placeholder="strasse" /></td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >PLZ</label>
                    <td><input type="text" minlength="5" maxlength="5" th:field="*{plz}" class="form-control" placeholder="plz" /></td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Ort</label>
                    <td><input type="text" minlength="2" th:field="*{ort}" class="form-control" placeholder="ort" /></td>
                </tr>
            </div>
            <div alight="left">
                <tr>
                    <label class="form-label" >Email</label>
                    <td><input type="email" th:field="*{email}" class="form-control" placeholder="email" /></td>
                </tr>
            </div>
            <br>

            <br>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>