<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">
<!--head th:insert="~{head :: head}"></head-->
<body>
<!--<nav th:insert="navbar :: navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">  </nav>-->

<!--Main layout-->

<!--div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3"-->

            <!-- hier den individuellen Bereich einer Site einfügen -->
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div style="margin-left: 20px ">
                <a class="backButton" th:href="@{'/user/users'}">
                    <i style="margin: inherit"  class="fa fa-backward"></i>
                    <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                </a>
            </div>
            <div class="title-page">
                <i class="fa fa-user"></i><h2>Benutzer anlegen</h2>
            </div>

    <div style="margin: 0px 60px 15px 20px;">

        <!--/*@thymesVar id="user" type="com.example.kursverwaltung.domain.UserInfo"*/-->
        <form action="#" th:action="@{/user/saveUser}" th:object="${user}" method="post">

            <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <div alight="left">
                <tr>
                    <label class="form-label" >Roles</label>
                    <td>
                        <select th:field="*{roles}" class="form-control" name="anrede">
                            <option th:value="USER" th:text="USER">User</option>
                            <option th:value="ADMIN" th:text="ADMIN">Admin</option>
                        </select>
                        <input type="hidden" th:field="*{id}" />

                    </td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Username</label>
                    <td><input  minlength="4" th:field="*{username}" class="form-control" placeholder="username" required="true"/></td>
                </tr>
               <!-- <div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger">
                    <p th:text="${error}"></p>
                </div>-->
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Password</label>
                    <td><input type="password" name="password" minlength="4" th:field="*{password}" class="form-control" placeholder="password" required="true"/></td>
                </tr>
            </div>

            <div style="padding-left: 40%">
                <button type="submit" class="linkButton">Speichern</button>
                <button type="reset" class="linkButton">Abbrechen</button>
            </div>
        </form>
    </div>

            <!-- hier endet indiviueller bereich -->

        <!--/div>
    </div>
</div-->
        </div>
    </section>
</div>

</body>
</html>