<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="~{head :: head}"></head-->

<body>

<!--<nav th:insert="navbar :: navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">  </nav>-->


<!--Main layout-->


<!--div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

            <div th:insert="~{navbar :: navbar}"></div>

        </div>
        <div class="col py-3"-->

            <!-- hier den individuellen Bereich einer Site einfügen -->
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
<div align="center">
    <h1>User anlegen</h1>
    <br />
    <div class="col-sm-4">

        <!--/*@thymesVar id="user" type="com.example.kursverwaltung.domain.UserInfo"*/-->
        <form action="#" th:action="@{/user/saveUser}" th:object="${user}" method="post">


            <div alight="left">
                <tr>
                    <label class="form-label" >Roles</label>
                    <td>
                        <select th:field="*{roles}" class="form-control" name="anrede">
                            <option th:value="USER" th:text="USER">User</option>
                            <option th:value="ADMIN" th:text="ADMIN">Admin</option>
                        </select>
                        <input type="hidden" th:field="*{id}" />

                    </td>
                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Username</label>
                    <td><input  minlength="1" th:field="*{username}" class="form-control" placeholder="username" /></td>

                </tr>
            </div>
            <div alight="left">

                <tr>
                    <label class="form-label" >Password</label>
                    <td><input type="password" name="password" minlength="1" th:field="*{password}" class="form-control" placeholder="password" /></td>
                </tr>
            </div>

            <tr>
                <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
            </table>
        </form>
    </div>
</div>

            <!-- hier endet indiviueller bereich -->

        <!--/div>
    </div>
</div-->
        </div>
    </section>
</div>


</body>
</html>