<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="~{head :: head}"></head-->

<body>

<!-- hier den individuellen Bereich einer Site einfügen -->


<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div style="margin-left: 20px ">
                <a class="backButton" th:href="@{'/home'}">
                    <i style="margin: inherit" class="fa fa-backward"></i>
                    <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                </a>
            </div>
            <div class="title-page">
                <i class="fa fa-users"></i>
                <h2>Personenliste</h2>
            </div>

            <div class="addButton">
                <!--h3><a th:href="@{'/person/newperson'}">Add new person</a></h3-->
                <a class="linkButton" th:href="@{'/person/newperson'}">
                    <span style="font-size: 20px">Neu Person</span>
                    <i style="font-size: 20px" class="fa fa-plus"></i></a>
            </div>

            <div class="col-md-6" style="margin-left: 20px">
                <form class="search" th:action="@{/person/personen}" method="get">
                    <i class="fa fa-search"></i>
                    <input id="txtsearch" type="text" class="form-control" placeholder="suchen" name="keyword"/>
                    <button class="btn btn-primary">Suchen</button>
                </form>
            </div>
        </div>


        <div class="col-sm-8">
            <div class="panel-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <!--th>Person ID</th-->
                        <th>Anrede</th>
                        <!--th>Titel</th-->
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <!--th>Strasse</th>
                        <th>PLZ</th>
                        <th>Ort</th-->
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${listPerson.isEmpty()}">
                        <td colspan="4"> keine Kurse vorhanden</td>
                    </tr>
                    <!--/*@thymesVar id="person" type="com.example.kursverwaltung.domain.Person"*/-->

                    <!--/*@thymesVar id="listPerson" type="com.example.kursverwaltung.controller.PersonController"*/-->
                    <tr th:each="person :${listPerson}">
                        <!--td th:text="${person.personId}"></td-->
                        <!--td th:text="${person.anrede}"></td-->
                        <td th:switch="${person.anrede}">
                            <span th:case="1">Frau</span>
                            <span th:case="2">Herr</span>
                            <span th:case="3">Divers</span>
                        </td>
                        <!--td th:text="${person.titel}"></td-->
                        <td th:text="${person.vorname}"></td>
                        <td th:text="${person.nachname}"></td>
                        <!--td th:text="${person.strasse}"></td-->
                        <!--td th:text="${person.plz}"></td-->
                        <!--td th:text="${person.ort}"></td-->
                        <td th:text="${person.email}"></td>
                        <td>
                            <a class="linkButton" th:href="@{'/person/showPerson/' + ${person.personId}}">

                                <span>Show</span><i style="color: cornsilk;" class="fa fa-eye"></i></a>
                        </td>
                        <td>
                            <a class="linkButton" th:href="@{'/person/editperson/' + ${person.personId}}">

                                <span>Edit</span><i style="color: green;" class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a class="linkButton" th:href="@{'/person/get/'+${person.personId}}">
                                <span>Add</span><i style="color: #fed189;" class="fa fa-book"></i></a>
                        </td>
                        <td>
                            <a class="linkButton" th:href="@{'/person/deleteperson/' + ${person.personId}}">
                                <span>Delete</span><i style="color: red;" class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>


</div>
</section>

<!-- hier endet indiviueller bereich -->

</div>
<!--/div-->
<!--/div-->


</body>
</html>