

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">

<!--head th:insert="head :: head"></head-->

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="container">
                <div>
                    <a class="backButton" th:href="@{'/person/personen'}">
                        <i style="margin: inherit"  class="fa fa-backward"></i>
                        <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                    </a>
                </div>




                <div class="container-fluid">


                    <!--/*@thymesVar id="person" type="com.example.kursverwaltung.domain.Person"*/-->


                            <div class="panel panel-default">
                                <div class="panel-heading">Person mit Kursen</div>
                                <div class="panel-body" style="padding-left: 5px;">
                                    Anrede : <b th:switch="${person.anrede}">
                                    <span th:case="1">Frau</span>
                                    <span th:case="2">Herr</span>
                                    <span th:case="3">Divers</span>
                                </b>
                                    <br/>
                                    <br/>
                                    Vorname : <b th:text="${person.vorname}"></b>
                                    <br/>
                                    <br/>
                                    Nachname : <b th:text="${person.nachname}"></b>
                                    <br/>
                                    <br/>
                                    Email : <b th:text="${person.email}"></b>
                                    <br/>
                                    <br/>
                                    Straße : <b th:text="${person.strasse}"></b>
                                    <br/>
                                    <br/>
                                    PLZ : <b th:text="${person.plz}"></b>
                                    <br/>
                                    <br/>
                                    Ort : <b th:text="${person.ort}"></b>
                                    <br/>
                                    <br/>
                                    <b th:text="${person.nachname}+${person.nachname}"></b> interessiert sich für diese Kurse :
                                    <span th:each="kurs : ${person.inKursinteressieren}">
                                    <br/>&nbsp;
                                    <b th:text="${kurs.kursname}"></b>
                                    </span>
                                    <br/>
                                    <br/>
                                    <b th:text="${person.nachname}+${person.nachname}"></b> nimmt an diesen Kursen teil :
                                    <span th:each="kurs : ${person.inKursteilnehmen}">
                                    <br/>&nbsp;&nbsp;
                                    <b th:text="${kurs.kursname}"></b>
                                    </span>
                                    <br/>
                                    <br/>
                                </div>
                            </div>


                        </div>
                        <br/>
                        <!--                        <button type="submit" class="btn btn-primary">-->
                        <!--                            Add Course-->
                        <!--                        </button>-->
                        <!--/div-->

            </div>
        </div>
    </section>
</div>
<!-- hier endet indiviueller bereich -->


<!--/div>
</div>
</div-->

</body>
</html>