<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      xmlns:th="http://www.thymeleaf.org">



<body>


<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div style="margin-left: 20px ">
                <a class="backButton" th:href="@{'/home'}">
                    <i style="margin: inherit"  class="fa fa-backward"></i>
                    <span style="margin: 2px 2px 1px 5px;">Zurück</span>
                </a>
            </div>
            <div class="title-page">
                <i class="fa fa-user-circle"></i><h2>List All Users</h2>
            </div>
            <div class="addButton">
                <a class="linkButton" th:href="@{'/user/newUser'}">
                    <span style="font-size: 20px">Neu Benutzer</span>
                    <i style="font-size: 20px" class="fa fa-plus"></i></a>
                <!--h3><a th:href="@{'/k1/kurs1/newkurs'}">Add new kurs</a></h3-->
            </div>

            <div class="col-md-6" style="margin-left: 20px">
                <form class="search" th:action="@{'/user/users'}" method="get">
                    <i class="fa fa-search"></i>
                    <input  id="txtsearch"   type="text" class="form-control" placeholder="suchen" name="keyword"/>
                    <button class="btn btn-primary">Suchen</button>
                </form>
            </div>


                    <div class="col-sm-8" >
                        <div class="panel-body" >
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th>UserId</th>
                                    <th>Username</th>
                                    <!--                        <th>Password</th>-->
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="listUsers" type="com.example.kursverwaltung.controller.UserInfoController"*/-->
                                <tr th:if="${listUsers.isEmpty()}">
                                    <td colspan="2"> kein User vorhanden!</td>
                                </tr>

                                <tr th:each="userInfo :${listUsers}">
                                    <td th:text="${userInfo.id}">User ID</td>
                                    <td th:text="${userInfo.username}">Username</td>
                                    <!--                        <td name="password" th:utext="${userInfo.password}">Password</td>-->

                                    <td th:text="${userInfo.roles}">Roles</td>
                                    <td>
                                        <a class="linkButton" th:href="@{'/user/deleteUser/' + ${userInfo.id}}">
                                            <span>Delete</span><i style="color: red;" class="fa fa-trash"></i>
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>





            </div>


            <!-- hier endet indiviueller bereich -->


    <!--/div>
</div-->
        </div>
    </section>
</div>

</body>
</html>